@use '../custom' as *;

.home-section {
  color: #feffff;
  font-family: "Open Sans Condensed";

  .home-banner-content {
    @media only screen and (min-width: 240px) {
      height: 28rem;
    }
  }

  h1,
  h2 {
    font-weight: 400;
    font-family: 'Pacifico', cursive;
  }

  .img-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  a {
    text-decoration: none;
    color: #feffff;

    &:hover {
      color: $primary;
    }
  }

  .tel {
    font-size: 1.5rem;
  }

  img {
    border: 0;
    max-width: 70%;
    height: auto;
  }

  .deliver {


    @media only screen and (max-width: 768px) {
      .icondiv {
        min-height: 14rem;
      }
    }

    @media only screen and (min-width: 768px) {
      .icondiv {
        min-height: 10rem;
        max-width: 12rem;
      }
    }

    h2 {
      font-family: "Open Sans Condensed";
    }

    >a {

      &:hover {
        color: $white;
      }

    }
  }

  // h1 {
  //   @media only screen and (min-width: 240px) and (max-width: 568px) {
  //     h1 {
  //       font-size: 2em;
  //       line-height: 2;
  //     }
  //   }
  // }

  // .intro-text {
  //   font: bold 25px/25px 'Open Sans Condensed', serif;
  //   text-transform: uppercase;
  //   text-shadow: rgb(0 0 0 / 80%) 0 0 20px;
  // }
}