@use '../custom' as *;

$time : 0.3s;

.navbar-section {

  .navbar-light .navbar-toggler {
    border: 0;
  }

  .nav-link {
    font-size: $base-font-size;
    color: $primary;
    // text-transform: uppercase;
    font-weight: $base-font-weight;
    letter-spacing: 1px;

    &:hover {
      color: $secondary;
    }

    -webkit-transition: $time ease;
    transition: $time ease;
  }

  .fa {
    display: inline-block;
    font: normal normal normal $base-font-size FontAwesome;
    font-size: $base-font-size;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media only screen and (max-width: 992px) {
    .nav-logo-wide {
      display: none;
    }

    .nav-logo-small {
      display: block;
    }
  }

  @media only screen and (min-width: 992px) {
    .nav-logo-wide {
      display: block;
    }

    .nav-logo-small {
      display: none;
    }
  }

  .nav-item {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }

  .nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 4px;
    left: 0;
    background-color: $secondary;
    transition: transform $time ease-out;
  }

  .nav-item:hover::after {
    transform: scaleX(1);
  }

}