@use '../custom' as *;

.navbar-section {

  .navbar-light .navbar-toggler {
    border: 0;
  }

  .nav-link {
    font-size: $base-font-size;
    text-transform: uppercase;
    font-weight: $base-font-weight;

    &:hover {
      color: $gray-900;
    }
  }

  .fa {
    display: inline-block;
    font: normal normal normal $base-font-size FontAwesome;
    font-size: $base-font-size;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // @media only screen and (max-width: 992px) {
  //   span {
  //     margin-left: 0.7rem;
  //   }
  // }

  .search {
    padding-right: 10px;
  }

  .searchBox {
    position: relative;
    // top: 50% 10px;
  }

  .searchBox:hover>.searchButton {
    color: $gray-900;
    transition: 0.4s;
  }

  .searchButton {
    color: inherit;
    border: none;
    background: none;
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: $gray-900;
    font-size: 0.7rem;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

    &:focus {
      width: 10rem;
    }

  }


  .commentLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $gray-900;
    transform: scaleX(0);
    animation: commentLineScaleIn 0.2s 0.1s forwards;
  }

  @keyframes commentLineScaleIn {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }

}